@import '../../../../styles/commons.scss';

.body {
  height: 100%;
  .dropdown__navigation__area {
    height: 10rem;
  }
  .main__content__area {
    height: 100%;
    padding: 1rem 2rem;
    .add__goals__card {
      text-align: center;
      display: flex;
      height: 13rem;
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
        0px 0px 0px rgba(63, 63, 68, 0.05);
      border-radius: 13px;
      .add__goal__button {
        margin: auto;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        .plus__icon {
          width: 1.5rem;
        }
      }
      h5 {
        margin: 0.5rem 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: -0.06px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
