@import '../../../../../styles/commons.scss';

.change__password__input__wrapper {
  width: 100%;
  position: relative;
  .view__password__icon {
    width: 1.2rem;
    position: absolute;
    right: 0;
    top: 1.8rem;
  }
}
