@import '../../../../styles/commons.scss';
.edit__goal__card {
  border-radius: 10px;
  background-color: $white;
  .card__content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    .cancel__button {
      position: absolute;
      top: 0.5rem;
      right: 1.2rem;
      cursor: pointer;
      .times {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 0;
      }
    }
    .card__title {
      color: #3a3b3f;
      font-size: 1.2rem;
      margin: 0px;
    }
    form {
      .fieldset {
        padding: 0px;
        border: none;
        padding-top: 1rem;
        .wrap__input {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;
          .lable {
            width: 48%;
            .label__text {
              color: $secondaryBlue;
              padding: 0 1.7rem;
              font-size: 0.8rem;
              font-weight: normal;
              margin: 0px;
              margin-bottom: 0.3rem;
            }
            .input__wrapper {
              width: 100%;
              display: flex;
              .input {
                font-size: 1.1rem;
                width: 85%;
                height: 2rem;
                border: none;
                border-bottom: 1px solid $inputBorderColor;
                outline: none;
              }
              .icon {
                width: 1.3rem;
                padding: 0;
                margin-right: 0.3rem;
              }
            }
          }
          .lable__description {
            width: 100%;
            .input__wrapper__description {
              .delete__icon {
                width: 1.5rem;
              }
              .input {
                width: 93%;
              }
            }
          }
        }
      }
      .color__tool {
        width: 100%;
        display: flex;
        margin-top: 1.9rem;
        .color__bar,
        .color__icon {
          width: 50%;
          padding: 0 1.8rem;
          h4 {
            color: $secondaryBlue;
            font-weight: normal;
            font-size: 0.8rem;
            margin: 0px;
          }
          .color__area,
          .icon {
            display: flex;
            justify-content: space-between;
            margin-top: 0.5rem;
            .color__bar__item {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 1.6rem;
              height: 1.6rem;
              border-radius: 0.8rem;
              position: relative;
              cursor: pointer;
              .bar__icon {
                width: 0.8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .mark {
                width: 0.8rem;
              }
            }
            .others__button {
              width: auto;
              padding: 0rem 0.7rem;
              border-radius: 12px;
              .others__text {
                color: $white;
                font-size: 0.7rem;
                cursor: pointer;
              }
            }
          }
        }
      }
      .button__wrapper {
        width: 100%;
        padding: 1.2rem 2rem;
        text-align: right;
        .submit__button {
          color: $white;
          font-size: 0.7rem;
          padding: 0.7rem 2rem;
          text-transform: uppercase;
          border: none;
          border-radius: 1.2rem;
          background-color: #1665d8;
          cursor: pointer;
        }
      }
    }
  }
}
