@import '../../../styles/commons.scss';

.signup__form__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  .signup__form {
    width: 90%;
    text-align: center;
    .input__wrapper {
      width: 88%;
      margin: 1.5rem auto;
      position: relative;
      input {
        width: 100%;
        height: 2rem;
        font-size: 0.9rem;
        border: none;
        border-bottom: 1px solid $horizontalRule;
        outline: none;
      }
      .input__error {
        color: $brandError;
        font-weight: normal;
        font-size: 0.7rem;
        margin: 0;
        text-align: left;
      }
    }

    .password__field__wrapper {
      width: 100%;
      position: relative;
    }
    .eye__icon {
      width: 1.2rem;
      position: absolute;
      top: 0.5rem;
      right: 0rem;
      cursor: pointer;
    }
    .button__wrapper {
      width: 100%;
      margin-top: 2.5rem;
      margin-bottom: 2.6rem;
      .signup__button {
        color: $white;
        font-size: 0.9rem;
        padding: 0.8rem 5rem;
        background-color: $primary;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
