@import '../../../styles/commons.scss';

.signup__form__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  .signup__form {
    width: 90%;
    text-align: center;
    input {
      width: 88%;
      height: 2rem;
      font-size: 0.9rem;
      border: none;
      border-bottom: 1px solid $horizontalRule;
      margin: 1rem 0;
      outline: none;
    }
    .password__field__wrapper {
      width: 100%;
      position: relative;
    }
    .eye__icon {
      width: 1.2rem;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;
    }
    .button__wrapper {
      width: 100%;
      margin-top: 2.5rem;
      margin-bottom: 2.6rem;
      .signup__button {
        color: $white;
        font-size: 0.9rem;
        padding: 0.8rem 5rem;
        background-color: $primary;
        border: none;
        border-radius: 16px;
        cursor: pointer;
      }
    }
  }
}
