$primary: #347af0;
$facebookBlue: #007dc9;
$horizontalRule: rgba(0, 0, 0, 0.25);
$white: #ffffff;
$black: #000000;
$gray: #b5bbc9;
$brandViolet: #b620e0;
$brandFontFamily: Roboto;
$boxShadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
  0px 0px 13px rgba(63, 63, 68, 0.24);
$cardBoxShadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
  0px 0px 0px rgba(63, 63, 68, 0.05);
$cardFontColor: rgba(0, 0, 0, 0.5);
