@import '../../../../styles/commons.scss';

.savings__datails {
  display: flex;
  width: 100%;

  .card__wrapper {
    display: flex;
    justify-content: space-between;
    .card__networth,
    .card__target {
      background-color: $white;
      .details {
        .my__savings,
        .amount {
          color: $black;
        }
      }
      .icon {
        .icon__networth {
          background: $brandRed;
        }
        .icon__target {
          background-color: $brandGreen;
          .target__icon {
            width: 1rem;
          }
        }
      }
    }
  }
  .my__budget__header,
  .active__goals__header {
    font-weight: normal;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-left: 0.3rem;
  }

  .expenses__chart {
    margin-left: 2rem;
  }
  .active__goal {
    &__card {
      padding: 0.8rem 1rem;
      background-color: $white;
      border-radius: $cardBorderRadius;
      box-shadow: $cardBoxShadow;
      .active__goal__details {
        display: flex;
        .details {
          .my__savings,
          .amount {
            margin: 0;
          }
          .my__savings {
            color: $lightGray;
            font-weight: normal;
          }
        }
        .icon {
          margin-left: auto;
          .icon__wrapper {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            border-radius: 50%;
            background-color: $primary;
            .active__goal__icon {
              width: 1.5rem;
            }
          }
        }
      }
      .progress__bar__shadow {
        width: 100%;
        height: 0.4rem;
        margin-top: 2rem;
        border-radius: 5px;
        background-color: $gray;
        position: relative;
        .progress__bar {
          border-radius: 5px;

          background-color: $secondaryBlue;
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
        }
      }
      .fraction {
        color: $lightGray;
        text-align: right;
        font-weight: normal;
        margin: 0.3rem 0;
      }
    }
  }
  .toggle__button__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 1rem;

    .buttons__container {
      width: 100%;
      height: 0;
      text-align: right;
      overflow: hidden;
      transition: all 500ms ease-in-out;

      .button {
        width: 14rem;
        height: 3.2rem;
        margin: 0.5rem 0;
        border: none;
        outline: none;
        background: #ffffff;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
        border-radius: 26.2176px;
        overflow: hidden;
        &:hover {
          cursor: pointer;
        }
        .btn__content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 0.5rem;
          .btn__text {
            color: $fontColor;
            font-size: 0.9rem;
            font-weight: normal;
            text-transform: capitalize;
            margin: 0;
          }
          .btn__round {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            margin-left: auto;
            border-radius: 50%;
          }
        }
      }
    }
    .cls__btns {
      height: inherit;
      padding: 1rem 0rem;
      animation: animate 2000ms;

      @keyframes animate {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
    .toggle__button {
      width: 3rem;
      height: 3rem;
      color: $white;
      text-align: center;
      font-size: 1.5rem;
      border: none;
      border-radius: 50%;
      background-color: $toggleButtonRed;
      cursor: pointer;
      outline: none;
      box-shadow: $roundButtonBoxShadow;
    }
  }
}
