@import '../../../../styles/commons.scss';

.savings {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 3rem 2rem;

  .calender__wrapper {
    padding-top: 3rem;
  }

  &__details__area {
    justify-content: space-between;
    padding-top: 2.5rem;

    .savings__table {
      &__wrapper {
        width: 100%;
        height: 30rem;
        .table__body {
          width: 100%;
        }
      }
    }
    .income__wrapper {
      width: 100%;
      // height: 20rem;
      .table__body {
        width: 100%;
        .expenditure__table {
          background-color: #df5060;
        }
      }
    }
    .savings__details__card {
      .savigns__card {
        width: 100%;
      }
    }
  }
  .floating__action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 20;
    .content {
      width: 12rem;
      height: 10rem;
      margin-bottom: 1rem;
      background-color: red;
      animation: animate 2000ms;
      @keyframes animate {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}
