@import '../../../styles/commons.scss';

.login__form__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  .login__form {
    width: 90%;
    text-align: center;
    input {
      width: 88%;
      height: 2rem;
      font-size: 0.9rem;
      border: none;
      border-bottom: 1px solid $horizontalRule;
      margin: 1rem 0;
      outline: none;
    }
    .password__field__wrapper {
      width: 100%;
      position: relative;
    }
    .eye__icon {
      width: 1.2rem;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;
    }
    .forgot__password__wrapper {
      width: 100%;
      text-align: right;
      padding-right: 1.5rem;
      .forgot__password {
        width: auto;
        color: $primary;
        font-size: 0.8rem;
        font-weight: normal;
        margin: 0;
        cursor: pointer;
      }
    }
    .button__wrapper {
      width: 100%;
      margin-top: 2.5rem;
      margin-bottom: 1.6rem;
      .login__button {
        color: $white;
        font-size: 0.9rem;
        padding: 0.8rem 5rem;
        border: none;
        border-radius: 16px;
        background-color: $primary;
        cursor: pointer;
      }
    }
  }
  .no__account__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    h5 {
      font-size: 0.7rem;
      font-weight: normal;
      margin: 0;
    }
    .no__account__text {
      margin-right: 0.3rem;
    }
    .no__account__signup {
      color: $primary;
      cursor: pointer;
    }
  }
}
