@import '../../../styles/commons.scss';

.dashboard__wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $white;
  header {
    width: 100%;
    height: 4rem;
    background-color: #3f51b5;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    .dashboard__board {
      padding: 0;
    }
    .dashboar__nav {
      height: 100%;
      padding: 0;
      .nav__title {
        display: flex;
        height: 100%;
        padding-left: 2rem;
        align-items: center;
        .nav__logo {
          width: 2rem;
          margin-right: 0.5rem;
        }
        .company__name {
          color: $white;
          font-size: 1.2rem;
          font-weight: normal;
          line-height: 26px;
          letter-spacing: 1.1812px;
        }
      }
      .notificaton__area {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        margin-left: auto;
        .user__averta__area {
          min-width: 3rem;
          height: 2rem;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          border-radius: 1rem;
          background-color: $gray;
          margin-right: 0.8rem;
          .user__image__wrapper {
            width: 2rem;
            height: 100%;
            border-radius: 50%;
            background-color: $white;
            overflow: hidden;
          }
          .user__name {
            color: $white;
            font-weight: normal;
            font-size: 0.8rem;
            margin: 0;
            margin-left: 0.5rem;
            margin-right: 0.8rem;
          }
        }
        .notifications__wrapper {
          position: relative;
          margin-right: 0.5rem;
          .notification {
            outline-color: $white;
          }
        }
        .drawer__wrapper {
          width: 2.5rem;
          height: 2rem;
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          .top__line,
          .second__line,
          .third__line,
          .last__line {
            border: 1px solid $white;
            margin: 0.2rem;
          }
          .second__line,
          .last__line {
            width: 50%;
          }
        }
      }
    }
  }
  .dashboard__body {
    width: 100%;
    padding-top: 3rem;
    padding-left: 0;
    padding-right: 0;
    min-height: calc(100vh - 4rem);
    .side__nav {
      height: calc(100vh - 7rem);
      border: 1px solid #e4e7eb;
      .user__details__wrapper {
        justify-content: center;
        .user__details {
          text-align: center;
          padding-top: 2rem;
          padding-bottom: 2rem;
          border-bottom: 1px solid #e4e7eb;
          .sidenav__userimage__wrapper {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: green;
            overflow: hidden;
            margin: 0 auto;
            .user__sidenav__image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .sidenav__user__name {
            font-weight: normal;
            margin-top: 1rem;
            margin-bottom: 0.2rem;
          }
          .side__nav__user__position {
            color: #9ea0a5;
            font-weight: normal;
            margin: 0.2rem 0;
          }
        }
      }
    }
    .main__content {
      min-height: calc(100vh - 7rem);
      overflow-y: scroll;
    }
  }
  footer {
    width: 100%;
    height: 4rem;

    .footer__content {
      margin-left: auto;
      border-top: 1px solid #e4e7eb;
    }
  }
}
